.certificates {
  .certificate {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    img {
      margin-top: 4rem;
      aspect-ratio: 16/9;
      height: 200px;
      object-fit: cover;
      border-radius: 1rem;
      &:hover {
        border: 4px solid rgb(3, 148, 3);
      }
    }
  }
}
@media (max-width: 600px) {
  .certificates {
    .certificate {
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }
}
