@import "./variables.scss";

.projectSection {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  margin-top: 13rem;
  h1 {
    font-size: 2.6rem;
    color: $main-color;
    box-shadow: 0.4rem 0.6rem 1rem $main-color inset, 0 0 1rem $main-color;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    color: $main-color;
  }

  .projectContainer {
    padding: 3rem;
    margin: 3rem auto;
    box-shadow: 0.8rem 0.6rem 1rem $main-color inset, 0 0 1rem $main-color;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    width: 80%;
    gap: 0.7rem;

    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    h2 {
      color: $main-color;
      font-size: 3rem;
    }
    .techStack {
      display: flex;
      gap: 3rem;
    }
    p {
      margin-top: 2.4rem;
      line-height: 2.4rem;
      font-size: 1.6rem;
    }
    .projectImage {
      width: 42rem;
      border-radius: 1rem;
    }
    .weTech {
      gap: 0;
    }
    a {
      text-decoration: none;
    }
    @media (max-width: 1000px) and (min-width: 800px) {
      .projectImage {
        width: 100%;
      }
    }
    @media (max-width: 850px) {
      flex-direction: column-reverse;
      width: 100%;
      align-items: unset;
      .projectImage {
        width: 100%;
      }
    }
  }
}
